<br />
<br />
<br />
<br />
<h1>About Me</h1>
<div>
  <div class="row">
    <div class="col-sm-6">
      <div>
        <p>Hi I'm Mariela, I live in Buenos Aires with my two gorgeous dogs.</p>
        <p>
          I always been passionate about technology and design, so what better
          than been a<span> Frontend Developer</span>.
        </p>
        <p>
          My interest started when I was in school and they taught us visual
          basic 6.0 It was like magic that you could do so many cool things by
          leaning just the basics, and the learning and amazed never stopped
          sience then.
        </p>
        <p>And that how the story bagans...</p>
      </div>
    </div>
    <div class="col-sm-6">
      <img
        src="../../assets/img/me.JPEG"
        style="opacity: 0.7"
        class="img-fluid img-thumbnail"
      />
    </div>
  </div>
</div>
<br />
